## [ Standardowe pliki .NET / Visual Studio ]
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## [ Pliki tymczasowe kompilacji Avalonii ]
.avalonia/
*.axaml.g.cs

## [ Paczki NuGet ]
*.nupkg
packages/
node_modules/

## [ Systemowe śmieci ]
Thumbs.db
.DS_Store

## [ Baza Danych - WAŻNA DECYZJA ]
# Jeśli chcesz, żeby wykładowca dostał bazę z Twoimi danymi (tę "nakarmioną"):
# Zostaw te linie zakomentowane (z krzyżykiem).
# Jeśli baza ma być tylko u Ciebie lokalnie, odkomentuj poniższe:
# *.db
# *.db-journal
# *.db-wal

# Tymczasowe i pomocnicze pliki SQLite (zawsze ignorowane)
*.db-shm
*.db-wal
*.db-journal
*import.db

## [ Scratch folder ]
scratch/

## [ Pliki pomocnicze LaTeX (z wyłączeniem PDF) ]
*.aux
*.log
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.out
*.xdv
*.blg
*.bbl

## [ Inne IDE ]
.idea/
.vscode/
*.sln.iml

## [ DocFX ]
_site/
api/
.manifest

## [ Skrypty, LaTeX i Archiwa ]
*.tex
*.zip
*.rar
*.7z
*.tar.gz

